* {
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;

  @media only screen and (min-width: 650px) {
    font-size: 22px;
  }
}

p {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

//class for taking out items
.none {
  display: none;
}

//opaque items during load
.opaque {
  opacity: 0;
}
