.welcome-message {
  height: 100vh;
  width: 100%;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;

  .text-container {
    width: 100%;

    .welcome-text, .any-key {
      transition: 2s;
      color: $white;
      text-align: center;
      padding: 1rem;
    }
  }
}